{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Добро пожаловать, {{ request.user }}</span>
    <a class="btn btn-info right" href="{% url 'accounts:signout' %}"> Sign Out</a>
	<a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Следующий месяц >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Предыдущий месяц </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:event_new' %}"> + Новое событие </a>
</div>
<div style="color: blueviolet;">
    {{ calendar }}
</div>
{% endblock %}
