{% load static %}
{% block content %}

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="panelpic"
                     src="{% static 'images/logo.png' %}"
                     alt="logo on nav-bar "
                     style="width:53px; height:30px;margin-top:5px;margin-left:26px;border-right:1px solid;padding-right: 23px; "></a>


            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li>
                            {% if user.parent %}
                                <a class="dropdown-item" href="#">Тип: {{ user.parent.get_type_display }}</a>
                                <a class="dropdown-item" href="#">Контактное лицо: {{ user.parent }}</a>
                            {%else %}
                                <a class="dropdown-item" href="#">Тип: {{ user.get_type_display }}</a>
                                 <a class="dropdown-item" href="#">Контактное лицо: {{ user }}</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Регистрация
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            {% for type in types %}
                                <li><a class="dropdown-item" href="{% url 'account_register' type.0 %}">{{ type.1 }}</a>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div>
                    {% if request.user.is_authenticated %}

                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-primary">Выход</button>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" style="padding-left: 500px;">
                        <button type="button" class="btn btn-primary">Вход</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            {%if user.is_authenticated %}
            <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Добавить ребенка как
                        </button>

                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

                            <li>
                                <a class="dropdown-item" href="{% url 'account_register' 'student' %}">С аккаунтом</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'add_child' request.user.pk %}">Без аккаунта</a>
                            </li>
                        </ul>

                    </div>

                </div>
            {% endif %}
        </nav>
    </div>
<div class="container">
    {% for child in request.user.children.all %}
        {{ child }}
    {%endfor%}


</div>


{% endblock %}

