{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="box" style="width:auto; background-color:white; border-radius: 15px; margin: -30px; min-height: 300px">
        <section class="blog_area section_gap">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">

                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" style="width: 60%;" src="{{ request.user.avatar.url }}" alt="">
                                <h4>{{ request.user.first_name}}</h4>
                                <h4 style="margin-top: 5px;">{{ request.user.last_name}}</h4>
                                <p>{{ request.user.get_type_display}}</p>
                                <div class="social_icon">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter"></i></a>
                                    <a href="#"><i class="ti-github"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                                <div class="row justify-content-center" style="margin-top: 30px">
                                    <div class="col-12 text-center">
                                        <button type="button" id="add-modal-register-answer-btn-left" class="blog_btn" style="border-radius: 10px">Зарегистрировать ребёнка</button>
                                    </div>
                                </div>
<!--                                <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you-->
<!--                                    should have to spend money on boot camp when you can get. Boot camps have itssuppor-->
<!--                                    ters andits detractors.</p>-->
                                <div class="br"></div>
                            </aside>

                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                                <div class="br"></div>
                            </aside>

                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="mini-navbar" style="-webkit-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
-moz-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);">
                            <nav class="navbar navbar-expand-lg bg-light" style="background-color: #f1f9ff">
                              <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item" style="box-shadow: #0c5460">
                                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                                           href="{% url 'parents_cabinet_detail' request.user.pk %}">Главная</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                                           href="{% url 'parent_children_surveys' request.user.pk %}">Анкеты детей</a>
                                    </li>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                                         href="#">Успеваемость</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                                         href="#">Отклики</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                                         href="#">Отзывы</a>
                                    </li>
                                  </ul>

                                </div>
                              </div>
                            </nav>
                        </div>


                        <div class="blog_left_sidebar">
                            <article class="row blog_item">

                                <div class="col-md-10">
                                    <div class="blog_post">
                                        <img src="#" alt="">
                                        <div class="blog_details">

                                            {% for child in children.all %}
                                            <div class="row justify-content-center" style="margin-top: 20px; margin-left:10px; margin-bottom: 30px; border-radius: 20px; background-color: #e6e6ea; -webkit-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.2);
                                              -moz-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.2);
                                              box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.2); " >
                                                <div class="col-12" style="border-radius: 20px">
                                                    <div class="row">
                                                       <div class="col-3 text-center align-self-center" style="margin-top: 25px; margin-bottom: 25px">
                                                            <img id="avatar" src="{{ child.avatar.url }}" class="circlehome-dp" style="border-radius: 100px; width:80%;" alt="signuplogo ">
                                                        </div>

                                                        <div class="col-9 align-self-center">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <h5 style="color: #6c757d; padding-top: 25px">Имя ученика: <span style="color: #568be9">{{ child.first_name }}</span></h5>
                                                                    <h5 style="color: #6c757d; padding-top: 8px">Фамилия ученика: <span style="color: #568be9">{{ child.last_name }}</span></h5>
                                                                    {% if child.with_email == False %}
                                                                        <h5 style="color: #6c757d; padding-top: 8px">Номер телефона: <span style="color: #568be9">{{ child.phone }}</span></h5>
                                                                    {% endif %}
                                                                    <hr>
                                                                </div>
                                                                <div class="col-4 text-center align-self-center">
                                                                    {% if child.with_survey == False %}
                                                                       <a href="{% url 'parent_children_create_surveys' child.pk %}" class="btn btn-primary" style="border-radius: 10px" data-id="'+ data[i].pk +'" id="btn" >Создать анкету</a>
                                                                    {% else %}
                                                                        {% if child.with_email == True %}
                                                                            <a href="{% url 'user_update' child.pk %}" class="btn btn-success" style="border-radius: 10px" data-id="'+ data[i].pk +'" id="btn-base-info-update" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                                                </svg></a>
                                                                         {% else %}
                                                                            <a href="{% url 'user_update_without_email' child.pk %}" class="btn btn-success" style="border-radius: 10px" data-id="'+ data[i].pk +'" id="btn-base-info-update" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                                                </svg></a>
                                                                         {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-8">
                                                                    {% if child.with_survey == True %}
                                                                    <p style="margin-bottom: 10px">Предметы: <span style="color: #568be9">
                                                                    {% for subject in child.survey.subjects.all %}
                                                                        <span class="info-item">{{ subject}}{% if not forloop.last %}, {% endif %}</span>
                                                                    {% endfor %}
                                                                    </p>

                                                                    <p style="margin-bottom: 10px">Стоимость: <span style="color: #568be9;"><span class="info-item">{{ child.survey.min_cost }}тг. - {{ child.survey.max_cost }}тг.</span>
                                                                    <p style="margin-bottom: 10px">Время обучения: <span style="color: #568be9"><span class="info-item">{{ child.survey.education_time }}</span>

                                                                    <p style="margin-bottom: 10px">Тесты: <span style="color: #568be9">
                                                                    {% for test in child.survey.tests.all %}
                                                                        <span class="info-item">{{ test}}{% if not forloop.last %}, {% endif %}</span>
                                                                    {% endfor %}
                                                                    </p>

                                                                    <p style="margin-bottom: 10px">Программа: <span style="color: #568be9">
                                                                    {% for program in child.survey.programs.all %}
                                                                        <span class="info-item">{{ program }}{% if not forloop.last %}, {% endif %}</span>
                                                                    {% endfor %}
                                                                    </p>


                                                                    <p style="margin-bottom: 10px">Онлайн: <span style="color: #568be9">
                                                                    {% for platform in child.survey.online.all %}
                                                                        <span class="info-item">{{ platform }}{% if not forloop.last %}, {% endif %}</span>
                                                                    {% endfor %}
                                                                    </p>
                                                                    {% endif %}

                                                                </div>
                                                                {% if child.with_survey == True %}
                                                                    <div class="col-4 text-center align-self-center">
                                                                        <a href="{% url 'main_survey_update' child.survey.pk %}"  class="btn btn-success" style="border-radius: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                                        </svg></a>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                       </div>

                                                     </div>
                                                 </div>
                                             </div>
                                             {% endfor %}





                                        </div>
                                    </div>
                                </div>


<!--                                <div class="col-md-3">-->
<!--                                    <div class="blog_info text-right">-->
<!--                                        <div class="post_tag">-->
<!--                                            <a href="#">Food,</a>-->
<!--                                            <a class="active" href="#">Technology,</a>-->
<!--                                            <a href="#">Politics,</a>-->
<!--                                            <a href="#">Lifestyle</a>-->
<!--                                        </div>-->
<!--                                        <ul class="blog_meta list">-->
<!--                                            <li><a href="#">Mark wiens<i class="ti-user"></i></a></li>-->
<!--                                            <li><a href="#">12 Dec, 2017<i class="ti-calendar"></i></a></li>-->
<!--                                            <li><a href="#">1.2M Views<i class="ti-eye"></i></a></li>-->
<!--                                            <li><a href="#">06 Comments<i class="ti-comment"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->

                            </article>


                        </div>
                    </div>

                </div>
            </div>


            <div id="registerModal" class="modal" style="display: none; width: 100%; height: 100%; border-radius: 30px; background-color: rgba(0,0,0, 0.3); z-index: 1; overflow: auto">
                <div class="modal-content" style="background-color: white; margin: 10% auto; border-radius: 15px; padding: 20px; width: 30%">
                    <h2 style="margin: 30px auto">У ребенка есть email?</h2><div>

                        <div class="row justify-content-center">
                            <div class="col-6 text-center">
                                <a href="{% url 'parent_create_children' request.user.pk %}">
                                    <button type="button" class="btn btn-primary btn-block">Да</button>
                                </a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{% url 'parent_create_children_without_email' request.user.pk %}">
                                    <button type="button" class="btn btn-primary btn-block">Нет</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div id="registerModalFormYes" class="modal" style="display: none; width: 100%; height: 100%; border-radius: 30px; background-color: rgba(0,0,0, 0.3); z-index: 1; overflow: auto">
                    <div class="modal-content" style="background-color: white; margin: 10% auto; border-radius: 30px; padding: 20px; width: 30%"><h2 style="margin: 30px auto">Регистрация ученика</h2><div>
                        <form action="{% url 'parent_create_children' request.user.pk %}" method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                            <div class="form" id="form-student">
                                {% bootstrap_form student_register_form %}
                                <div class="row">
                                    <div class="col-6 text-center">
                                        {% bootstrap_button button_type="submit" content='Сохранить' %}
                                    </div>
                                    <div class="col-6 text-center">
                                        <a href="{% url 'parent_create_children_without_email' request.user.pk %}">
                                            <button type="button" class="btn btn-primary btn-block">Нет</button>
                                        </a>
                                   </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>


                                <div id="registerModalFormNo" class="modal" style="display: none; width: 100%; height: 100%; border-radius: 30px; background-color: rgba(0,0,0, 0.3); z-index: 1; overflow: auto">
                                    <div class="modal-content" style="background-color: white; margin: 10% auto; border-radius: 30px; padding: 20px; width: 30%"><h2 style="margin: 30px auto">Регистрация ученика</h2><div>
                                        <form action="{% url 'parent_create_children_without_email' request.user.pk %}" method="POST" enctype="multipart/form-data">
                                         {% csrf_token %}
                                            <div class="form" id="form-student-without-email">
                                                {% bootstrap_form student_without_email_register_form %}
                                                <div class="row">
                                                    <div class="col-6 text-center">
                                                        {% bootstrap_button button_type="submit" content='Сохранить' %}
                                                    </div>
                                                    <div class="col-6 text-center">
                                                        <a id="btn-register-modal-without-email-close" class="btn btn-secondary">Закрыть</a>
                                                   </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            </div>
                        </div>
                    </div>






                    </div>

                </div>



        </div>


<script type="text/javascript" src="{% static 'js/add-modal-register-answer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/add-modal-register-answer.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'js/gmaps.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>

{% endblock %}