{% load django_bootstrap5 %}

<div class="mt-2">

    <div class="card bg-light mb-3 rounded">
        <div class="card-header p-0 pl-3 rounded fw-bolder" style="height: 26px;">Образование и дипломы
            <a href="{% url 'education_create_or_update' user.tutor.pk %}">
                <i class="bi bi-plus-lg fs-5 ml-3"></i>
                <span class="font-weight-light fs-5">|</span>
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <div class="card-body">
            {% if user.tutor.education.all %}
                {% for education in educations %}
                    <div class="pb-2 d-flex">
                        <div class="w-100 border-top">
                            <span class="fw-bold">Учебное заведение: </span>
                            <span>{% if education.institution %} {{ education.institution }} {% else %} - {% endif %}
                                <br></span>

                            <span class="fw-bold">Специальность: </span>
                            <span>{% if education.speciality %} {{ education.speciality }} {% else %} - {% endif %}<br></span>

                            <span class="fw-bold">Степень: </span>
                            <span>{% if education.degree %} {{ education.degree }} {% else %} - {% endif %}<br></span>
                        </div>
                        <div class="d-flex flex-row-reverse pe-3 border-top">
                            <div class="d-flex">
                                <div>
                                    <a href="{% url 'education_delete' user.tutor.pk education.pk %}"
                                       class="ml-2 text-danger"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span>Учебное заведение: </span><span>---</span><br>
                <span>Специальность: </span><span>---</span><br>
                <span>Степень: </span><span>---</span><br>
            {% endif %}
        </div>
    </div>
</div>
