{% load django_bootstrap5 %}

<div class="mt-2 border-bottom mt-3 pb-2">
    <h5 class="fw-bold">Образование
        <a href="{% url 'education_create' user.tutor.pk %}">
            <i class="bi bi-plus-lg fs-5 ml-3"></i>
        </a>
    </h5>
    {% if user.tutor.education.all %}
        {% for education in educations %}
            <div class="pb-2 d-flex">
                <div class="w-50">
                    <span class="fw-bold">Учебное заведение ({{ forloop.counter }}): </span>
                    <span>{% if education.institution %} {{ education.institution }} {% else %} - {% endif %}<br></span>

                    <span class="fw-bold">Специальность: </span>
                    <span>{% if education.speciality %} {{ education.speciality }} {% else %} - {% endif %}<br></span>

                    <span class="fw-bold">Степень: </span>
                    <span>{% if education.degree %} {{ education.degree }} {% else %} - {% endif %}<br></span>
                </div>
                <div class="d-flex flex-row-reverse pe-3">
                    <div class="d-flex">
                        <div>
                            <a href="{% url 'education_update' user.tutor.pk education.pk %}">
                                <i class="bi bi-pencil-square ml-3"></i>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'education_delete' user.tutor.pk education.pk %}"
                               class="ml-2 text-danger"><i class="bi bi-dash-lg"></i></a>
                        </div>
                    </div>
                </div>

            </div>


        {% endfor %}
    {% else %}
        <span class="fw-bold">Учебное заведение: </span><span>-</span><br>
        <span class="fw-bold">Специальность: </span><span>-</span><br>
        <span class="fw-bold">Степень: </span><span>-</span><br>
    {% endif %}
</div>
