{% load django_bootstrap5 %}

<div class="pb-2">

    <div class="card bg-light mb-3 rounded">
        <div class="card-header p-0 pl-3 rounded fw-bold" style="height: 26px;">О себе
            <a href="{% url 'tutor_main_update' tutor.pk %}"><i#}
                    class="bi bi-pencil-square ml-3"></i></a>
        </div>
        <div class="card-body">
            <span class="fw-bold">Пол: </span>
            <span>{% if tutor.gender %} {{ tutor.get_gender_display }} {% else %} - {% endif %}
                <br></span>

            <span class="fw-bold">Языки: </span>
            <span>{% if tutor.languages.all %}
                {% for language in tutor.languages.all %}
                    <span>{{ language.name }} </span>
                {% endfor %}
            {% else %} - {% endif %}
                <br></span>

            <div class="w-100 rounded bg-white p-1">
                <span class="fw-bold">Коротко о себе: </span><br>
        {% if tutor.about %}
            <span class="text-break">{{ tutor.about }}</span>
        {% else %} - {% endif %}
            </div>
        </div>
    </div>

    {#    <h5 class="fw-bold">О себе <a href="{% url 'tutor_main_update' tutor.pk %}"><i#}
    {#            class="bi bi-pencil-square ml-3"></i></a></h5>#}
    {##}
    {#    <span class="fw-bold">Пол: </span>#}
    {#    <span>{% if tutor.gender %} {{ tutor.get_gender_display }} {% else %} - {% endif %}#}
    {#        <br></span>#}
    {##}
    {#    <span class="fw-bold">Языки: </span>#}
    {#    <span>{% if tutor.languages.all %}#}
    {#        {% for language in tutor.languages.all %}#}
    {#            <span>{{ language.name }} </span>#}
    {#        {% endfor %}#}
    {#    {% else %} - {% endif %}#}
    {#        <br></span>#}
    {##}
    {#    <span class="fw-bold">Обо мне: </span>#}
    {#    <span>#}
    {#        {% if tutor.about %}#}
    {#            <span class="text-break">{{ tutor.about }}</span>#}
    {#        {% else %} - {% endif %}#}
    {#    </span>#}
</div>


