<div class="mini-navbar mb-5" style="-webkit-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
-moz-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);">
    <nav class="navbar navbar-expand-lg bg-light" style="background-color: #f1f9ff">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="box-shadow: #0c5460">
                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                           href="#' request.user.pk %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                           href="#">Мои ученики</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                           href="#">Мои отклики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                           href="#">Отклики на меня</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
                           href="#">Отзывы обо мне</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>