{% extends 'base_enimi.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="mt-3 pb-3" style="padding-top: 100px;">
    <h5 class="text-center">Предметы и стоимость</h5>
    <div style="width: 370px; margin: 0 auto;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                <div class="m-2 p-2 rounded" style="-webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
                                                    -moz-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
                                                    box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">
                    <div class="pb-5">
                            <regions-component region_id="{{user.id}}" ></regions-component>

<!--                        <script>-->
<!--                            window.vue.component('button-counter', {-->
<!--                              data: function () {-->
<!--                                return {-->
<!--                                  count: 0-->
<!--                                }-->
<!--                              },-->
<!--                              template: '<button v-on:click="count++">Счётчик кликов — {{ count }}</button>'-->
<!--                            })-->
<!--                        </script>-->
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="ml-2">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    <div class="mr-1">
                        <a class="btn btn-primary mx-1" href="{% url 'tutor_cabinet' user.tutor.pk %}">Назад</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}