{% load django_bootstrap5 %}

{% if notification.viewed == False and notification.cnt != 0 %}
    <tr class="fw-bold">
        <td class="col-8 text-break">
            <a class="list-unstyled text-dark" href="{% url 'notification_viewed' notification.pk %}">
                {{ notification.message }}
            </a>
        </td>
        <td class="col-3">{{ notification.date }}</td>
        <td class="col-2">
            {% if notification.type == 'response' and 'Интересующие предметы' in notification.message %}
                <a {% if user.type == 'tutor' %} href="{% url 'tutor_on_students_responses' user.tutor.pk %}"
                {% elif user.type == 'parents' %} href="{% url 'from_me-parent_on_tutor_responses' user.pk %}"
                {% elif user.type == 'student' %} href="{% url 'student_on_tutor_responses' user.pk %}"
                {% endif %} class="list-unstyled text-secondary fs-5">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            {% elif notification.type == 'response' and 'Предлагаемые предметы' in notification.message %}
                <a {% if user.type == 'tutor' %} href="{% url 'my_responses_on_students' user.tutor.pk %}"
                {% elif user.type == 'parents' %} href="{% url 'to_my_children_responses' user.pk %}"
                {% elif user.type == 'student' %} href="{% url 'to_me_student_responses' user.pk %}"
                {% endif %} class="list-unstyled text-secondary fs-5">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td class="col-8 text-break">
            <a class="list-unstyled text-dark" href="{% url 'notification_unviewed' notification.pk %}">
                {{ notification.message }}
            </a>
        </td>
        <td class="col-3">{{ notification.date }}</td>
        <td class="col-2">
            {% if notification.type == 'response' and 'Интересующие предметы' in notification.message %}
                <a {% if user.type == 'tutor' %} href="{% url 'tutor_on_students_responses' user.tutor.pk %}"
                {% elif user.type == 'parents' %} href="{% url 'from_me-parent_on_tutor_responses' user.pk %}"
                {% elif user.type == 'student' %} href="{% url 'student_on_tutor_responses' user.pk %}"
                {% endif %} class="list-unstyled text-secondary fs-5">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            {% elif notification.type == 'response' and 'Предлагаемые предметы' in notification.message %}
                <a {% if user.type == 'tutor' %} href="{% url 'my_responses_on_students' user.tutor.pk %}"
                {% elif user.type == 'parents' %} href="{% url 'to_my_children_responses' user.pk %}"
                {% elif user.type == 'student' %} href="{% url 'to_me_student_responses' user.pk %}"
                {% endif %} class="list-unstyled text-secondary fs-5">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            {% endif %}
        </td>
    </tr>
{% endif %}