{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>


<div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; width: 50%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        -moz-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">
            <form action="" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                    <div class="form" >
                        <h2 style="margin: 30px auto; text-align: center">Укажите желаемое расположение репетитора</h2>
                        <div class="row justify-content-center" style="height: 25%; overflow-y: scroll;">
                            {% bootstrap_form form %}
                        </div>

                        <div class="row justify-content-center" style="margin-top: 30px;">
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary btn-block">Принять</button>
                            </div>
                            <div class="col-6" style="max-width: 150px">
                                <a href="{% url 'student_detail_survey' request.user.pk %}">
                                    <button type="button" class="btn btn-primary btn-block">Отмена</button>
                                </a>
                            </div>
            </form>


                            <div class="col-6" style="max-width: 150px">
                                 <form action="{% url 'reset_tutor_area_for_student' tutor_area.pk %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn-block">Сбросить</button>
                                 </form>
                            </div>
                        </div>
                    </div>


{% endblock %}