{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
        <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; width: 50%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        -moz-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);
        box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">
            <h2 style="margin: 20px auto; text-align:center; ">Регистрация</h2><div>
                <form action="" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                    <div class="form" >
                        {% bootstrap_form form %}
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_button button_type="submit" content='Зарегистрироваться' %}
                            </div>

                            {% if request.user.type == 'parents' %}
                            <div class="col-6 text-center">
                                <a href="{% url 'parents_cabinet_detail' request.user.pk %}">
                                    <button type="button" class="btn btn-primary btn-block">Отмена</button>
                                </a>
                           </div>
                            {% else %}
                            <div class="col-6 text-right">
                                <a href="{% url 'index' %}" class="btn btn-primary">Отмена</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>


{#<script type="text/javascript" src="{% static 'js/register-modal.js' %}"></script>#}


{% endblock %}