{% extends 'base_enimi.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="text-center mt-3 pb-3" style="padding-top: 100px;">
        <h5 class="text-center">Смена пароля</h5>
        <div style="width: 370px; margin: 0 auto;" class="mt-4">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form">
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-primary mx-1" href="{% url 'tutor_cabinet' user.tutor.pk %}">Назад</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}