{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="pass_reset_background"></div>
    <div class="pass_reset_container">
        <div class="col-6">
            <h2 class="mt-3 pass_reset_subtitle_font">Восстановление пароля</h2>
            <hr>
            <p class="pass_reset_main_text">Забыли пароль? Введите вашу электронную почту и
                мы вышлем вам инструкции по восстановлению пароля.</p>
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                    <input type="email" class="form-control" name="email"
                           autocomplete="email" maxlength="254" required="" id="id_email">
                </div>
                {% bootstrap_button button_type="submit" content='Войти' %}
                <br>
                <br>
            </form>
        </div>
    </div>
{% endblock %}
