{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="pass_reset_container">
        <h2 class="mt-3 pass_reset_subtitle_font">Подтверждение смены пароля</h2>
        <hr>
        <p class="pass_reset_main_text">Пожалуйста, введите новый пароль</p>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">{{ form.errors }}</div>
            {% endif %}

            <div class="mb-3">
                <label class="pass_reset_input_label" for="id_new_password1">Новый пароль:</label>
                <div class="input_border">
                    <input class="pass_reset_input" type="password" name="new_password1" autocomplete="new-password"
                           required id="id_new_password1">
                </div>
            </div>

            <div class="mb-3">
                <label class="pass_reset_input_label" for="id_new_password2">Подтвердите пароль:</label>
                <div class="input_border">
                    <input class="pass_reset_input" type="password" name="new_password2" autocomplete="new-password"
                           required id="id_new_password2">
                </div>
            </div>

            {% bootstrap_button button_type="submit" content='Войти' %}
        </form>
    <br>
    <br>
    <br>
    </div>
{% endblock %}
