{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="pass_reset_background"></div>
    <div class="pass_reset_container">
        <div class="col-12">
            <h2 class="mt-3 pass_reset_subtitle_font">Письмо с инструкциями по восстановлению пароля отправлено</h2>
            <hr>
            <p class="pass_reset_main_text">Мы отправили вам инструкцию по установке нового пароля
                на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
                Вы должны получить ее в ближайшее время.
            </p>

            <p class="pass_reset_main_text">Если вы не получили письмо, пожалуйста,
                убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.

            </p>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
