<div class="col-md-12">
    <div class="mini-navbar mb-4" style="-webkit-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
-moz-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);">
    <nav class="ps-0 pe-0 navbar navbar-expand-lg bg-light" style="background-color: #f1f9ff">
        <div class="container-fluid">
            <!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
            <!--                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
            <!--                    aria-expanded="false" aria-label="Переключатель навигации">-->
            <!--                <span class="navbar-toggler-icon"></span>-->
            <!--            </button>-->
            <div class="scroll-nav ps-1 pe-1 pb-2 d-flex navbar-collapse" id="navbarSupportedContent">
                <ul class="d-flex me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="box-shadow: #0c5460">
                        <a class="nav-link active rounded p-2 text-nowrap"
                           aria-current="page"
                           href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-nowrap {% if my_students_page %} card-header disabled {% endif %}"
                           aria-current="page" style="padding-right: 20px"
                           href="{% url 'my_students' user.tutor.pk %}">Мои ученики</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-nowrap {% if tutor_responses %} card-header disabled {% endif %}"
                           aria-current="page" style="padding-right: 20px"
                           href="{% url 'my_responses_on_students' user.tutor.pk %}">Мои отклики</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-nowrap nav-link active rounded {% if student_responses %} card-header disabled {% endif %}"
                           aria-current="page" style="padding-right: 20px"
                           href="{% url 'students_on_tutor_responses' user.tutor.pk %}">Отклики на меня</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-nowrap {% if on_tutor_reviews %} card-header disabled {% endif %}"
                           aria-current="page" style="padding-right: 20px"
                           href="{% url 'on_tutor_reviews' user.tutor.pk %}">Отзывы обо мне</a>
                    </li>
                    <li class="nav-item" style="box-shadow: #0c5460">
                        <a class="text-nowrap nav-link active rounded {% if tutor_cabinet %} card-header disabled {% endif %} p-2"
                           aria-current="page"
                           href="{% url 'tutor_cabinet' user.tutor.pk %}">Анкета</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="nav-item inner-navbar-clock" style="text-align: center; background-color: #f1f9ff; border-radius: 10px; -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
                                        -moz-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
                                        box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);">
        <a class="nav-link active" aria-current="page" style="padding-right: 20px"
           href="#">
            <body onload="clockTimer();">
            <div class="clockpage">
                                                    <span style="font-size: 25px; font-family: 'Titillium Web', sans-serif; color: #7b838a; font-weight: bold"
                                                          id="clock"></span>
                <span style="display: block;" id="dayOfWeek"></span>
            </div>
            </body>
        </a>
    </div>
</div>
</div>