{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block search_btn %}
{% endblock %}
{% block content %}
    <style>

    </style>
    <div class="box" style="width:auto; background-color:white; border-radius: 15px; margin: -30px; min-height: 300px">
        <section class="blog_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" style="width: 60%; border-radius: 100px;"
                                     src="{{ request.user.avatar.url }}" alt="">
                                <h4>{{ request.user.first_name }}</h4>
                                <h4 style="margin-top: 5px;">{{ request.user.last_name }}</h4>
                                <p>{{ request.user.get_type_display }}</p>
                                <div class="social_icon">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter"></i></a>
                                    <a href="#"><i class="ti-github"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                                <div class="br">
                                    <div style="text-align: center; background-color: #f1f9ff; border-radius: 10px; -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
                                        -moz-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
                                        box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2); ">
                                        <div class="nav-link" aria-current="page"
                                             style="padding-right: 20px"
                                             href="#">
                                            <body onload="clockTimer();">

                                            <div class="clockpage">
                                                        <span style="font-size: 25px; font-family: 'Titillium Web', sans-serif; color: #7b838a; font-weight: bold"
                                                              id="clock"></span>
                                                <span style="display: block;" id="dayOfWeek"></span>
                                            </div>
                                            </body>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                                <div class="br"></div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="mini-navbar" style="-webkit-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
-moz-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);
box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.16);">
                            <nav class="navbar navbar-expand-lg bg-light" style="background-color: #f1f9ff">
                                <div class="container-fluid">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Переключатель навигации">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item" style="box-shadow: #0c5460">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px"
                                                   href="{% url 'parents_cabinet_detail' request.user.pk %}">Главная</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px"
                                                   href="{% url 'parent_children_surveys' request.user.pk %}">Анкеты
                                                    детей</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px"
                                                   href="{% url 'my_children_tutors' request.user.pk %}">Учителя
                                                    детей</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px"
                                                   href="#">Успеваемость</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px; text-align: center"
                                                   href="{% url 'to_my_children_responses' request.user.pk %}">Отклики
                                                    на детей</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px; text-align: center"
                                                   href="{% url 'from_me-parent_on_tutor_responses' request.user.pk %}">Мои
                                                    Отклики</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   style="padding-right: 20px"
                                                   href="#">Отзывы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="blog_left_sidebar">
                            <article class="row blog_item">
                                <div class="col-md-9 pt-3">
                                    <div class="review__block">
                                        <p>Преподаватель: <span>{{ tutor.first_name }} {{ tutor.last_name }}</span></p>
                                    </div>
                                    <form action="{% url 'parent_make_review' tutor.pk %}" method="post">
                                        {% csrf_token %}
                                        <textarea class="form-control w-100 p-2" name="text" id="" cols="50"
                                                  rows="5"></textarea>
                                        <div class="star-rating mt-3 mb-1">
                                            <input type="radio" name="rate" id="star-a" value="5"/>
                                            <label for="star-a"></label>

                                            <input type="radio" name="rate" id="star-b" value="4"/>
                                            <label for="star-b"></label>

                                            <input type="radio" name="rate" id="star-c" value="3"/>
                                            <label for="star-c"></label>

                                            <input type="radio" name="rate" id="star-d" value="2"/>
                                            <label for="star-d"></label>

                                            <input type="radio" name="rate" id="star-e" value="1"/>
                                            <label for="star-e"></label>
                                        </div>
                                        <div>
                                            <button class="rate__btn btn btn-primary">Отправить отзыв</button>
                                            <a class="btn btn-secondary ms-2"
                                               href="{% url 'my_children_tutors' request.user.pk %}">Назад</a>
                                        </div>
                                    </form>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function clockTimer() {
            var date = new Date();

            var time = [date.getHours(), date.getMinutes(), date.getSeconds()]; // |[0] = Hours| |[1] = Minutes| |[2] = Seconds|
            var dayOfWeek = ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"]
            var days = date.getDay();

            if (time[0] < 10) {
                time[0] = "0" + time[0];
            }
            if (time[1] < 10) {
                time[1] = "0" + time[1];
            }
            if (time[2] < 10) {
                time[2] = "0" + time[2];
                time[2] = "0" + time[2];
            }

            var current_time = [time[0], time[1], time[2]].join(':');
            var clock = document.getElementById("clock");
            var day = document.getElementById("dayOfWeek");

            clock.innerHTML = current_time;
            day.innerHTML = dayOfWeek[days];

            setTimeout("clockTimer()", 1000);
        }

    </script>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

{% endblock %}
