{% load django_bootstrap5 %}

{% if notification.cnt != 0 %}
    <tr>
        <td class="col-9 text-break">
            <a class="list-unstyled text-dark p-0 fw-bold">
                Новые {{ notification.message }}:
                <span style="color: black; font-weight: bold">{{ notification.cnt }}</span>
            </a>
        </td>
        <td class="col-3">{{ notification.date }}</td>
        <td class="col-1">
            <a href="{% url 'add_chat_message' notification.response_pk %}" class="list-unstyled fs-5">
                <i class="bi bi-chat"></i>
            </a>
        </td>
    </tr>
{% else %}
    <tr>
        <td class="col-9 text-break">
            <a class="list-unstyled text-dark p-0">
                {{ notification.message }}:
                <span style="color: black; font-weight: bold">{{ notification.cnt }}</span>
            </a>
        </td>
        <td class="col-3">{{ notification.date }}</td>
        <td class="col-1">
            <a href="{% url 'add_chat_message' notification.response_pk %}" class="list-unstyled fs-5">
                <i class="bi bi-chat"></i>
            </a>
        </td>
    </tr>
{% endif %}
