{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">

        <br>
        <br>
        <br>
        <div class="main-text" style="margin-top: 70px; margin-bottom: 70px">
            <h2 class="text-uppercase mt-4 mb-5 text-center">
                ENIMI - как работает сервис
            </h2>
        </div>
        <div class="about">
            <div class="row pt-3 justify-content-between" style="margin-bottom: 50px">
                <div class="rightside col-2">
                    <img style="width: 16rem;" src="{% static '/img/courses/c1.jpg' %}" alt="card-left-img">
                </div>
                <div class="leftside col-8">
                    <p class="left-txt pt-2"> Зарегистрируйтесь на нашем сервисе Enemi. Заполните анкету в личном
                        кабинете. После заполнения ваша анкета будет доступна на странице Доска объявлений. В
                        уведомлениях вы можете получить сообщения об отклике на вашу анкету.</p>
                    </p>Регистрация осуществляется для трёх типов пользователей:</p>

                        <p><span style="font-weight: bold; color: #5680e9">Студент </span>- выберите, если вы студент</p>
                        <p><span style="font-weight: bold; color: #5680e9">Преподаватель </span> - зарегистрируйтесь в качестве преподавателя</p>
                        <p><span style="font-weight: bold; color: #5680e9">Родитель </span> - если вы родитель ученика и рассчитываете самстоятельно заниматься поиском
                            преподавателя для своего ребенка осуществлять коммуникацию с преподавателем,
                            следить за успеваемостью своего ребенка, то выберите этот пункт</p>
                    <p>Анкета пользователя будет доступна в списке объявлений только после полного
                        заполнения анкеты пользователя в личном кабинете </p>
                </div>
            </div>

            <div class="green_line" style="width:100%; height: 3px; background-color: #cadfb3"></div>

            <div class="row pt-3 justify-content-between" style="margin-bottom: 50px; margin-top: 30px">
                <div class="leftside col-8">
                    <p class="left-txt pt-2"> Во вкладке "Доска объявлений" вы можете найти анкеты пользователей, на
                        которых вы можете откликаться. При нажатии кнопки "Подробнее" в карточке объявления
                        вы можете ознакомиться с подробной информацией о пользвателе. Если это репетитор,
                        то на странице будет отображен его рейтинг. После отклика на пользователя, в системе вы можете отправить
                        сообщение в чате чтобы обсудить важные вопросы. По согласованию всех вопросов относительно
                        занятий преподаватель может добавить студента в список своих учеников</p>
                </div>
                <div class="rightside col-2">
                    <img style="width: 16rem; margin-left: -100px" src="{% static '/img/courses/c2.jpg' %}" alt="card-left-img">
                </div>
            </div>

            <div class="green_line" style="width:100%; height: 3px; background-color: #cadfb3"></div>


            <div class="row pt-3 justify-content-between" style="margin-top: 30px; margin-bottom: 50px">
                <div class="rightside col-2">
                    <img style="width: 16rem;" src="{% static '/img/courses/c3.jpg' %}" alt="card-left-img">
                </div>
                <div class="leftside col-8">
                    <p class="left-txt pt-2"> После того, как вы договорились о занятии и преподаватель внёс студента в список своих
                        учеников,в личном кабинете вы можете
                        просмотреть расписание занятий, отклики на вас, ваши отклики. Студент может оставлять отзывы на преподавателя с оценкой.
                        Таким образом формируется рейтинг преподавателя</p>
                </div>
            </div>

            <div class="green_line" style="width:100%; height: 3px; background-color: #cadfb3"></div>


            <div class="row pt-3 justify-content-between" style="margin-bottom: 50px; margin-top: 30px">
                <div class="leftside col-8">
                    <p class="left-txt pt-2"> Преподаватель выставляет оценки за занятие для контроля успеваемости, также оставляет комментарий к занятию</p>
                                              В приложении реализован удобный календарь для работы с расписанием занятий
                </div>
                <div class="rightside col-2">
                    <img style="width: 16rem; margin-left: -100px" src="{% static '/img/blog/post-img2.jpg' %}" alt="card-left-img">
                </div>
            </div>

            <br>
        </div>

        <br>
        <br>
        <br>
    </div>
{% endblock %}
