{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<section class="tutors">
    <h2 class="tutors__title">
        Предложения студентов
    </h2>
    <div class="tutors__content__filter">
        <div class="tutors__blocks">
            {% for survey in surveys %}
            <div class="tut__tutor">
                <div class="tut__avatar">
                    <div class="tut_avatar-img-block"><img src="{{ survey.user.avatar.url }}" alt=""
                                                           class="tut_avatar-img"></div>
                    <p class="tut__name">
                        {{ survey.user.first_name }}
                        {{ survey.user.last_name }}
                    </p>
                    <div class="tut__location-block">
                        <div class="tut__location">
                            <p class="tut__country"></p>
                            <div class="tut__cost">
                                <p class="cost">Стоимость</p>
                                <p class="price">{{survey.min_cost}}-{{survey.max_cost}}<span>тнг/час</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="tut__connection_btn_block">
                        <a href="{% url 'response_on_student' survey.pk %}">
                            <button class="tut__connection_btn">Связаться со студентом</button>
                        </a>
                    </div>
                    <div class="tut__connection_btn_block text-center" style="margin-top: 20px">
                        <a href="{% url 'student_board_detail_page' survey.pk %}">Подробнее>></a>
                    </div>
                </div>
                <div class="tut-info">
                    <div class="tut-info__experience">
                        <p class="tut-info__subject">
                        <i class="fa-solid fa-book-open"></i>
                            {% for sub in survey.subjects.all %}
                               <span class="tut__location">{{sub.subject}}</span>
                            {% endfor %}
                        </p>

                    </div>

                    <div class="tut-info__experience">
                        <p class="tut-info__edu" style="color:black;">Подготовка по школьным программам:
                            {% for p in survey.programs.all %}
                               <span>{{p.program}},</span>
                            {% endfor %}

                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__edu " style="color: black;">Подготовка к тестам:
                        {% for t in survey.tests.all %}
                               <span>{{t.test_name}},</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__edu " style="color: black;">Время обучения:

                               <span>{{survey.education_time}}</span>

                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__online"><b style="color: black;">✓ Возможны занятия онлайн</b></p>
                        {% for class in survey.online.all %}
                        <p class="tut-info__edu " style="color: black;">
                               <span>{{class.online_platform}},</span>
                        </p>
                        {% endfor %}
                        <p class="tut-info__description">
                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__online" ><b style="color: black;">✓ Возможны занятия дома</b></p>
                        <p class="tut-info__edu " style="color: black;">
                               <span>{{survey.student_area}}</span>
                        </p>
                        <p class="tut-info__description">
                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__online"><b style="color: black;">✓ Возможны занятия у репетитора</b></p>
                        <p class="tut-info__edu " style="color: black;">
                               <span>{{survey.tutor_area}}</span>
                        </p>
                        <p class="tut-info__description">
                        </p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

        <div class="filter-tutor">
            <h3 class="filter-tutor__title">Фильтры</h3>
            <div class="filter-tutor__block">
                <form action="{% url 'board_student' %}" method="get">
                    <div class="filter-tutor__item">
                        <p>Выберите дисциплину:</p>
                        <select name="subject" id="">
                            <option value="" selected disabled hidden>Выберите дисциплину</option>
                            {% for s in subjects %}
                            <option value="{{ s.id }}">{{ s.subject }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-tutor__item">
                        <p>Желаемое место обучения:</p>
                        <select name="city" id="">
                            <option value="" selected disabled hidden>Выберите город</option>
                            {% for c in cities %}
                            <option value="{{ c.id}}">{{ c.city }}</option>
                            {% endfor %}
                        </select>
                        <select name="format" id="">
                            <option value="" selected disabled hidden>У репетитора/у ученика/онлайн</option>
                            <option value="tutor">У репетитора</option>
                            <option value="student">У ученика</option>
                            <option value="online">Онлайн</option>
                        </select>
                    </div>
                    <div class="filter-tutor__item">
                        <p>Стоимость часа занятий:</p>
                        <input type="number" name="min_cost" id="" placeholder="Цена от:">
                        <input type="number" name="max_cost" id="" placeholder="Цена до:">
                    </div>
                    <div class="filter-tutor__item">
                        <p>Способ сортировки:</p>
                        <select name="order" id="">
                            <option value="" selected disabled hidden>Способ сортировки</option>
                            <option value="by_rate">По рейтингу</option>
                            <option value="by_cost_up">По цене по возрастанию</option>
                            <option value="by_cost_down">По цене по убыванию</option>
                        </select>
                    </div>
                <button type="submit" class="btn btn-success mb-3">Искать</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}