{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<section class="tutors">
    <h2 class="tutors__title">
        Предложения репетиторов
    </h2>
    <div class="tutors__content">
        <div class="tutors__blocks">
            {% for t in tutors %}
            <div class="tut__tutor">
                <div class="tut__avatar">
                    <div class="tut_avatar-img-block"><img src="{{ t.user.avatar.url }}" alt=""
                                                           class="tut_avatar-img"></div>
                    <p class="tut__name text-center">
                        {{ t.user.first_name }} {{ t.user.last_name }}
                    </p>
                    <div class="tut__location-block">
                        <div class="tut__location">

                            <div class="tut__rate">
                                <p class="rate__num">
                                    <i class="fa-solid fa-star" style="color: orange;">
                                    </i>
                                    {% if t.avg_rate %}{{ t.avg_rate }}{% else %}0{% endif %}
                                </p>
                                <p class="tut__rate-reviews">отзывы <span>{{ t.reviews_count }}</span></p>
                            </div>
                            <div class="tut__cost">
                                <p class="cost">Средняя стоимость </p>
                            </div>
                            <div class="tut__cost">
                                {% for c in t.subjects_and_costs.all|dictsort:"cost" %}
                                <p class="price">
                                {% if forloop.first %}{{ c.cost }}{% endif %}
                                {% if forloop.last %}-{{ c.cost }} {% endif %}
                                {% endfor %}
                                    </p>
                                <span class="ms-1">тнг/час</span>
                            </div>
                        </div>
                    </div>
                    {% if request.user.type == 'parents' %}
                    <div class="tut__connection_btn_block">
                        <a href="{% url 'response_by_parent_on_tutor' t.pk %}">
                            <button class="tut__connection_btn">Связаться с репетитором</button>
                        </a>
                    </div>
                    {% else %}
                    <div class="tut__connection_btn_block">
                        <a href="{% url 'response_on_tutor' t.pk %}">
                            <button class="tut__connection_btn">Связаться с репетитором</button>
                        </a>
                    </div>
                    {% endif %}
                    <div class="tut__connection_btn_block text-center" style="margin-top: 20px">
                        <a href="{% url 'tutor_board_detail_page' t.pk %}">Подробнее>></a>
                    </div>

                </div>
                <div class="tut-info">
                    <div class="tut-info__experience">
                        <p class="tut-info__subject">
                            <i class="fa-solid fa-book-open"></i>
                            {% for c in t.subjects_and_costs.all %}
                            <span class="tut__location">{{ c.subject }}{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__edu" >Образование:
                            {% for edu in t.education.all %}
                            <span>{{ edu.institution }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="tut-info__experience">
                        <p class="tut-info__edu" >Опыт работы более:
                            {% if t.max_experience %}
                            {{ t.max_experience }} лет
                            {% else %}
                                Опыта нет
                            {% endif %}
                        </p>
                    </div>

                    <div class="tut-info__experience">

                            {% if t.study_formats.online.all %}
                                <p class="tut-info__online" style="color: black;">✓ Возможны занятия онлайн</p>
                            {% endif %}

                        <p class="tut-info__description">
                            {{ t.about }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="filter-tutor">
            <h3 class="filter-tutor__title">Фильтры</h3>
            <div class="filter-tutor__block">
                <form action="{% url 'filter_tutors' %}" method="get">
                    <div class="filter-tutor__item">
                        <p>Выберите дисциплину:</p>
                        <select name="subject" id="">
                            <option value="" selected disabled hidden>Выберите дисциплину</option>
                            {% for s in subjects %}
                            <option value="{{ s.id }}">{{ s.subject }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-tutor__item">
                        <p>Желаемое место обучения:</p>
                        <select name="city" id="">
                            <option value="" selected disabled hidden>Выберите город</option>
                            {% for c in cities %}
                            <option value="{{ c.id}}">{{ c.city }}</option>
                            {% endfor %}
                        </select>
                        <select name="format" id="">
                            <option value="" selected disabled hidden>У репетитора/у ученика/онлайн</option>
                            <option value="tutor">У репетитора</option>
                            <option value="student">У ученика</option>
                            <option value="online">Онлайн</option>
                        </select>
                    </div>
                    <div class="filter-tutor__item">
                        <p>Стоимость часа занятий:</p>
                        <input type="number" name="min_cost" id="" placeholder="Цена от:">
                        <input type="number" name="max_cost" id="" placeholder="Цена до:">
                    </div>
                    <div class="filter-tutor__item">
                        <p>Способ сортировки:</p>
                        <select name="order" id="">
                            <option value="" selected disabled hidden>Способ сортировки</option>
                            <option value="by_rate">По рейтингу</option>
                            <option value="by_cost">По цене</option>
                        </select>
                    </div>
                <button type="submit" class="btn btn-success mb-3">Искать</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}