{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}


    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner_content text-center">
                            <p class="text-uppercase">Лучший образовательный сервис</p>
                            <h2 class="text-uppercase mt-4 mb-5">
                                ENIMI - все репетиторы у вас под рукой
                            </h2>
                            <div>
                                <a href="#" class="primary-btn2 mb-3 mb-sm-0"
                                >узнать больше о проекте</a
                                >
                                <a href="{% url 'board_tutor' %}" class="primary-btn ml-sm-3 ml-0"
                                >Посмотреть репетиторов</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Awesome Feature</h2>
                        <p>
                            Replenish man have thing gathering lights yielding shall you
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><span class="flaticon-student"></span></div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Lorem Ipsum</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Architecto, adipisci.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><span class="flaticon-book"></span></div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Lorem Ipsum</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Architecto, adipisci.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><span class="flaticon-earth"></span></div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Lorem Ipsum</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Architecto, adipisci.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Feature Area =================-->
    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Популярные репетиторы</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single course -->
                <div class="col-lg-12">
                    <div class="owl-carousel active_course">

                        {% for user in popular_tutors %}
                        <div class="single_course">
                            <div class="course_head">
                                <a href="{% url 'tutor_board_detail_page' user.tutor.pk %}">
                                    <img class="img-fluid" src="{{ user.avatar.url }}" alt=""/></a>
                            </div>
                            <div class="course_content">
                                <div class="linc-from-main">
                                    <a href="{% url 'tutor_board_detail_page' user.tutor.pk %}">
                                    <h3 class="ta mb-4 d-inline-block">{{user.last_name}}</h3>
                                    <h3 class="ta mb-4 d-inline-block">{{user.first_name}}</h3></a>
                                </div>
                                <hr>
                                {% for c in user.tutor.subjects_and_costs.all %}
                                    <span class="tut__location"
                                          style="font-size: 20px">{{ c.subject }}
                                        {% if not forloop.last %} {% endif %}</span>
                                {% endfor %}
                                <h4 class="mb-3">
                                    <a href="course-details.html">{{review.rate}}</a>
                                </h4>
                                <p>{{review.text}}</p>
                            </div>
                        </div>
                        {% endfor %}



                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>



        <div class="testimonial_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Отзывы о репетиторах</h2>
                        <p>
                            Replenish man have thing gathering lights yielding shall you
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="testi_slider owl-carousel">
                    {% for review in reviews %}
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <img src="{{ review.tutor.avatar.url }} " alt=""/>
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <i class="fa-solid fa-star" style="color: orange;"></i><span class="rate ms-1 mb-0" style="font-size: 25px; color: black">{{ review.rate }}</span>
                                    <h4>{{ review.tutor.last_name }} {{ review.tutor.first_name }}</h4>
                                    <p>{{ review.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>

    <!--================ End Popular Courses Area =================-->
    <!--================ Start Registration Area =================-->
    <!-- <div class="section_gap registration_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="row clock_sec clockdiv" id="clockdiv">
              <div class="col-lg-12">
                <h1 class="mb-3">Зарегистрироваться сейчас</h1>
                <p>
                  There is a moment in the life of any aspiring astronomer that
                  it is time to buy that first telescope. It’s exciting to think
                  about setting up your own viewing station.
                </p>
              </div>
              <div class="col clockinner1 clockinner">
                <h1 class="days">150</h1>
                <span class="smalltext">Дней</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="hours">23</h1>
                <span class="smalltext">Часа</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="minutes">47</h1>
                <span class="smalltext">Минут</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="seconds">59</h1>
                <span class="smalltext">Секунд</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1">
            <div class="register_form">
              <h3>Courses for Free</h3>
              <p>It is high time for learning</p>
              <form
                class="form_area"
                id="myForm"
                action="mail.html"
                method="post"
              >
                <div class="row">
                  <div class="col-lg-12 form_group">
                    <input
                      name="name"
                      placeholder="Your Name"
                      required=""
                      type="text"
                    />
                    <input
                      name="name"
                      placeholder="Your Phone Number"
                      required=""
                      type="tel"
                    />
                    <input
                      name="email"
                      placeholder="Your Email Address"
                      pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                      required=""
                      type="email"
                    />
                  </div>
                  <div class="col-lg-12 text-center">
                    <button class="primary-btn">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--================ End Registration Area =================-->

    <!--================ Start Trainers Area =================-->
    <section class="trainer_area section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Репетиторы</h2>
                        <!-- <p>
                          Replenish man have thing gathering lights yielding shall you
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                    <div class="thumb d-flex justify-content-sm-center">
                        <img class="img-fluid" src="{% static 'img/trainer/t1.jpg' %}" alt=""/>
                    </div>
                    <div class="meta-text text-sm-center">
                        <h4>Геннадий Головкин</h4>
                        <p class="designation">Математик</p>
                        <div class="mb-4">
                            <p>Краткое представление о репетиторе</p>
                        </div>
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                    <div class="thumb d-flex justify-content-sm-center">
                        <img class="img-fluid" src="{% static 'img/trainer/t2.jpg' %}" alt=""/>
                    </div>
                    <div class="meta-text text-sm-center">
                        <h4>Авраам Линкольн</h4>
                        <p class="designation">Историк</p>
                        <div class="mb-4">
                            <p>Краткое представление о репетиторе</p>
                        </div>
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                    <div class="thumb d-flex justify-content-sm-center">
                        <img class="img-fluid" src="{% static 'img/trainer/t3.jpg' %}" alt=""/>
                    </div>
                    <div class="meta-text text-sm-center">
                        <h4>Жандос Айтмуканов</h4>
                        <p class="designation">Казаховед</p>
                        <div class="mb-4">
                            <p>Краткое представление о репетиторе</p>
                        </div>
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                    <div class="thumb d-flex justify-content-sm-center">
                        <img class="img-fluid" src="{% static 'img/trainer/t4.jpg' %}" alt=""/>
                    </div>
                    <div class="meta-text text-sm-center">
                        <h4>Димаш Кудайберген</h4>
                        <p class="designation">Музыкант, певец</p>
                        <div class="mb-4">
                            <p>Краткое представление о репетиторе</p>
                        </div>
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Trainers Area =================-->
    <!--================ Start Events Area =================-->
    <div class="events_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3 text-white">Новое в блоге</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single_event position-relative">
                        <div class="event_thumb">
                            <img src=" {% static 'img/event/e1.jpg' %} " alt=""/>
                        </div>
                        <div class="event_details">
                            <div class="d-flex mb-4">
                                <div class="date"><span>15</span> Jun</div>

                                <div class="time-location">
                                    <p>
                                        <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                                    </p>
                                    <p>
                                        <span class="ti-location-pin mr-2"></span> Hilton Quebec
                                    </p>
                                </div>
                            </div>
                            <p>
                                One make creepeth man for so bearing their firmament won't
                                fowl meat over seas great
                            </p>
                            <a href="#" class="primary-btn rounded-0 mt-3">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_event position-relative">
                        <div class="event_thumb">
                            <img src=" {% static 'img/event/e2.jpg' %} " alt=""/>
                        </div>
                        <div class="event_details">
                            <div class="d-flex mb-4">
                                <div class="date"><span>15</span> Jun</div>

                                <div class="time-location">
                                    <p>
                                        <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                                    </p>
                                    <p>
                                        <span class="ti-location-pin mr-2"></span> Hilton Quebec
                                    </p>
                                </div>
                            </div>
                            <p>
                                One make creepeth man for so bearing their firmament won't
                                fowl meat over seas great
                            </p>
                            <a href="#" class="primary-btn rounded-0 mt-3">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="text-center pt-lg-5 pt-3">
                        <a href="#" class="event-link"> Посмотреть все статьи </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Events Area =================-->
    <!--================ Start Testimonial Area =================-->
    <!--================ End Testimonial Area =================-->


{% endblock %}