
{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>



        <div class="methods">
            <div id="element"></div>
        </div>




    {% if order %}
        <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; width: 50%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">

            <h2 style="margin: 0 auto; text-align: center">Ваш заказ</h2>
                <h3 style="text-align: center; margin-top: 30px;"><i class="fa-sharp fa-solid fa-arrow-up-wide-short" style="color: yellowgreen"></i> " {{ order.service.title}} "</h3>
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                    <div class="tut__connection_btn_block" style="margin-top: 30px">
                        <p id="user-email" style="display: none" data-email="{{ order.user.email }}"></p>
                        <p id="service-price" style="display: none" data-price="{{ order.service.price }}"></p>
                        <button id="payButton" data-id="{{ order.pk }}" class="tut__connection_btn">Оплатить</button>
                    </div>

                </div>

                <div class="col-6 text-center">
                    <div class="tut__connection_btn_block" style="margin-top: 30px">
                        <a href="{% url 'service_detail' order.service.pk %}">
                            <button id="payButton2" class="tut__connection_btn">Назад</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}


<script type="text/javascript" src="{% static 'js/payment-widget.js' %}"></script>



{% endblock %}