{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

    {% if error %}

    <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; margin-bottom: 60px; width: 55%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">

        <h3 style="text-align: center">{{ error }}</h3>
        <div class="row">
            <div class="col-12 text-center">
                <a style="text-align: center" href="{% url 'board_tutor' %}">
                    <button id="btn-back-to-board" type="button" class="btn btn-primary"style="margin-top: 20px">Закрыть</button>
                 </a>
            </div>
        </div>


    </div>

    {% elif ok %}

    <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; margin-bottom: 60px; width: 55%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">

        <h3 style="text-align: center">{{ ok }}</h3>
        <div class="row">
            <div class="col-12 text-center">
                <a style="text-align: center" href="{% url 'board_tutor' %}">
                    <button id="btn-back-to-board" type="button" class="btn btn-primary"style="margin-top: 20px">Закрыть</button>
                 </a>
            </div>
        </div>


    </div>

    {% else %}

        <div class="content" style="background-color: white; border-radius: 10px; margin: 0 auto; padding: 65px; margin-top:-30px; margin-bottom: 60px; width: 55%; -webkit-box-shadow: -1px 1px 14px 5px rgba(34, 60, 80, 0.16);">

                <h2 style=" margin-bottom: 30px; text-align:center">Отправить отклик</h2><div>
                    <form action="" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                        <div class="form" id="form-course" style="background-color: white; padding: 40px; width: 90%;">
                            {% bootstrap_form response_form %}
                            <button id="saveResponseBtn" type="submit" class="btn btn-primary" style="margin: 20px 10px 0 0">Сохранить</button>
                            <a href="{% url 'board_tutor' %}">
                                <button id="btn-close-response" type="button" class="btn btn-primary"style="margin-top: 20px">Закрыть</button>
                             </a>

                        </div>
                    </form>
                </div>

     {% endif %}


{% endblock %}