
   <img src="{{ user_obj.avatar.url }}" class="circlehome-dp" style="border-radius: 100px; width:80%;" alt="signuplogo ">
  <p class="name text-center" style="margin-top: 30px">
      {{ user_obj.get_type_display}}
  </p>
   <p class="name text-center">
      {{ user_obj.first_name}}
  </p>
   <p class="last_name text-center">
      {{ user_obj.last_name}}
  </p>
   {% if user_obj.children.all %}

          <button type="button" id="add-modal-register-answer-btn2" class="btn btn-primary">Зарегистрировать ребёнка</button>

   {% endif %}
