{% extends 'base_enimi.html' %}
{% load static %}
{% load django_bootstrap5 %}



{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-center" style="overflow-y: auto">
            <div class="row pb-5" style=" padding-top: 85px;">
            <div class="bg-light p-3 rounded  border border-secondary " id="the_div_holder">
                <h3 class="fw-bold text-left">Чат</h3>
                {% for message in chats %}
                    {% if  message.author.type == 'tutor' %}
                        <div class="d-flex flex-row-reverse chata">
                            <div class="mb-1 rounded w-75 " style="background-color: lightgrey; color: black;">
                                <div class="border-bottom text-right " style="height: 30px;">
                                    <p class="m-0">
                                        <span
                                            class="fw-bold">{{ message.author.first_name }} {{ message.author.last_name }}: </span>{{ message.message }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-1 rounded  w-75 chata" style="background-color: dodgerblue; color: white; ">
                            <div class="border-bottom d-flex text-right " style="height: 30px;">
                                <p class="m-0" >
                                    <span class="fw-bold">{{ message.author.first_name }} {{ message.author.last_name }}: </span>{{ message.message }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <form action="" method="post" style="" class="pt-3">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                <div class="row">
                    <div class="col-6 text-right pb-3 ">
                        <input type="submit" value="Отправить" class="btn btn-primary ps-2 me-2 ">
                    </div>
                    <div class="col-6 text-right">
                        {% if request.user.type == 'student' %}
                                <a href="{% url 'student_cabinet_detail'  request.user.pk %}" class="btn btn-primary">Отмена</a>
                            {% elif request.user.type == 'parents' %}
                            <a href="{% url 'parents_cabinet_detail'  request.user.pk %}" class="btn btn-primary">Отмена</a>
                            {% else %}
                                <a href="{% url 'tutor_cabinet' request.user.pk %}" class="btn btn-primary">Отмена</a>
                            {% endif %}

                    </div>
                </div>
                </form>
            </div>
        </div>
        </div>

    {% endif %}
    <script>
    $(function() {
    var target = $('#the_div_holder');
    if (target.length) {
        $('html,body').animate({
            scrollTop: target.offset().top
        }, 1000);
        return false;
    }
});
    </script>
{% endblock %}
